{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <div class="row">
            {% if restaurant_list %}
            <ul>
                {% for restaurant in restaurant_list %}
                <li><a href="/main/restaurant/{{ restaurant.id }}/">{{ restaurant.restaurant_name }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No restaurants exist.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}